/* @media screen and (min-width:1498px)
{
   body{
    font-size: 9px;
   }
}
@media(max-width:468px)
{
    body,html{
        font-size: 6px;
    }
    .paragraph{
        padding:1rem;
    }
}
@media (max-width:773px)
{
    body,html{
        font-size:8px;
    }
}

@media (max-width:600px)
{
    body,html{
        font-size:7px;
    }
}
@media (max-width:510px)
{
    body,html{
        font-size:5.5px;
    }
}
@media (max-width:600px)
{
    body,html{
        font-size:4px;
    }
} */
@media (max-width:1110px)
{
    body,html{
        font-size:8px;
        overflow-x: hidden;
    }
    .PARAGRAPH{
        padding:4rem 4rem;
    }
    .first-paragraph{
        font-size:1.5rem;
    }
    .second-paragraph{
        font-size:1.5rem;
    }
    .third-paragraph{
        font-size:1.5rem;
    }
} 
@media (max-width:574px)
{
    body,html{
       font-size:6px;
       overflow: visible;
    }
    .PARAGRAPH{
        padding:12rem 12rem;
    }
}